@use "../font/stylesheet";

/*
=============== 
Variables
===============
*/

:root {
  --clr-primary: #ff8200;
  --clr-secondary: #004c97;

  --clr-white: #fff;
  --ff-primary: "Lato", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

*,
html {
  font-family: "Proxima Soft";
}

html,
body {
  font-size: 17px;
}

.wrapper {
  min-height: 100vh;
}

.primary-color {
  color: var(--clr-primary) !important;
}

.secondary-color {
  color: var(--clr-secondary) !important;
}

#leave-button {
  background-color: var(--clr-primary);
  color: var(--clr-white);
  border-radius: 0;
}

#help-button,
.outline-button {
  background-color: var(--clr-white);
  color: var(--clr-primary);
  border: solid 2px var(--clr-primary);

  &:hover {
    background-color: var(--clr-primary);
    color: var(--clr-white);
    cursor: pointer;
  }
}

.main-container {
  width: 100%;
  box-sizing: border-box;
  padding-top: 2.2vw;
  padding-bottom: 2.2vw;
  padding-left: 12vw;
  padding-right: 12vw;

  &-one {
    padding-top: 0;
  }
}

.main-section-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-areas:
    "one one"
    "two three";
  grid-template-columns: 15rem 1fr;
  padding: 0 12vw 0 12vw;
}

.main-section-heading {
  grid-area: one;
}

.main-section-menu {
  grid-area: two;
  padding-right: 1rem;
}

.main-section-content {
  grid-area: three;
}

// .menu {
//   width: 200px;
// }

// .main-content {
//   width: calc(100vh - 50px);
//   overflow-y: auto;
// }

// .heading-container {
//   width: 100%;
//   box-sizing: border-box;
//   padding-left: 12vw;
//   padding-right: 12vw;
// }

.footer {
  background-color: var(--clr-secondary);
  color: var(--clr-white);
}

ul {
  list-style-type: none;
}

.MenuItem-title {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.MenuItem-icon {
  font-size: larger;
  color: var(--clr-secondary);
  margin: 0;
  padding: 0;
}

.content-list {
  list-style-type: square;
}

a {
  text-decoration: none;
  color: inherit;
}

.table-with-borders {
  display: table;
  border-collapse: collapse;
  width: 100%;
  border-spacing: 2px;
  border: 1px solid;
  border-color: gray;
  text-indent: initial;
}

th,
td {
  border: 1px solid;
  border-color: gray;
  border-spacing: 2px;
  padding: 8px 12px;
}

/* Styles for screens smaller than 600px */
@media (max-width: 600px) {
  .sidebarContainer {
    display: block;
    width: 100%;
    position: relative;
  }
  .mainBlock {
    display: block;
    width: 100%;
    position: unset;
    padding: 10%;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* Styles for screens between 601px and 900px */
@media (min-width: 601px) and (max-width: 900px) {
  /* CSS styles specific to screens between 601px and 900px */
}

/* Styles for screens larger than 901px */
@media (min-width: 901px) {
  /* CSS styles specific to screens larger than 901px */
}
