@use "../font/stylesheet";

/*
=============== 
Variables
===============
*/

:root {
  --clr-primary: #ff8200;
  --clr-primary-100: #ff8f1a;
  --clr-primary-200: #ff9b33;
  --clr-primary-300: #ffa84d;
  --clr-primary-400: #ffb466;
  --clr-primary-500: #ffc180;
  --clr-primary-600: #ffcd99;
  --clr-primary-700: #ffdab3;
  --clr-primary-800: #ffe6cc;
  --clr-primary-900: #fff3e6;

  --clr-secondary: #004c97;
  --clr-secondary-100: #1a5ea1;
  --clr-secondary-200: #3370ac;
  --clr-secondary-300: #4d82b6;
  --clr-secondary-400: #6694c1;
  --clr-secondary-500: #80a6cb;
  --clr-secondary-600: #99b7d5;
  --clr-secondary-700: #b3c9e0;
  --clr-secondary-800: #ccdbea;
  --clr-secondary-900: #e6edf5;

  --clr-white: #fff;
  --ff-primary: "Lato", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

*,
html {
  font-family: "Proxima Soft";
}

html,
body {
  font-size: 17px;
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

h5,
h6 {
  font-weight: 500;
}

// p {
//   margin: 0;
//   padding: 0;
// }

.w-6 {
  width: 6rem;
}

.w-20 {
  width: 20%;
}

#menu-titles {
  margin-bottom: 2rem;
}

.wrapper {
  min-height: 100vh;
}

.primary-color {
  color: var(--clr-primary) !important;
}

.secondary-color {
  color: var(--clr-secondary) !important;
}

.border-orange {
  border-color: var(--clr-primary) !important;
  border-width: 2px;
}

.border-blue {
  border-color: var(--clr-secondary) !important;
}

.blue-background {
  background-color: var(--clr-secondary) !important;

  &:hover {
    background-color: var(--clr-secondary-500) !important;
  }
}

#leave-button {
  background-color: var(--clr-primary);
  color: var(--clr-white);
  border-radius: 0;

  &:hover {
    background-color: var(--clr-white);
    color: var(--clr-primary);
    border: solid 2px var(--clr-primary);
  }
}

#help-button,
#explore-button,
#about-button,
#submit-button,
.outline-button {
  background-color: var(--clr-white);
  color: var(--clr-primary);
  border: solid 2px var(--clr-primary);

  &:hover {
    background-color: var(--clr-primary);
    color: var(--clr-white);
    cursor: pointer;
    text-decoration: none;
  }
}

#continue-button,
#next-button,
#previous-button {
  background-color: var(--clr-primary);
  color: var(--clr-white);
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: var(--clr-white);
    color: var(--clr-primary);
    border: solid 2px var(--clr-primary);
  }
}

.main-container {
  width: 100%;
  box-sizing: border-box;
  padding-top: 2.2vw;
  padding-bottom: 2.2vw;
  padding-left: 8vw;
  padding-right: 8vw;

  &-one {
    padding-top: 0;
  }
}

.main-section-grid-nomenu {
  display: grid;
  gap: 1.5rem;
  grid-template-areas:
    "one one"
    "three three";
  grid-template-columns: 15rem 1fr;
  padding: 0 8vw 0 8vw;
}

#module-nav {
  font-size: small;
  padding-left: 8vw;
  padding-right: 8vw;
}

#module-nav-link:not(:last-child) {
  padding-right: 2rem;
}

.module-nav-nodisplay {
  display: none;
}

.main-section-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-areas:
    "one one"
    "two three";
  grid-template-columns: 15rem 1fr;
  padding: 0 8vw 0 8vw;
}

.module-nav {
  display: flex;
}

.main-section-heading {
  grid-area: one;
}

.main-section-menu {
  grid-area: two;
  padding-right: 1rem;
}

.main-section-content {
  grid-area: three;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
}

.folder {
  position: relative;
  background-image: url(../images/folder-transparent.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 110px;
  width: 100%;
}

.folder:hover {
  cursor: pointer;
  background-image: url(../images/folder-hover-blue.svg);
}

@media screen and (min-width: 768px) {
  .folder {
    height: 160px;
  }
}

.folder h3 {
  position: absolute;
  top: 30px;
  left: 15px;
  font-size: 13px;
  line-height: 1.3;
  text-align: left;
  max-width: 50%;
}

.single-modules {
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.number {
  display: flex;
  color: lightgray;
  width: 35px;
  height: 35px;
  margin-top: 0;
  margin-right: 15px;
  border-radius: 20px;
  border: 1px solid lightgray;
  padding: 8px;
  align-items: center;
  justify-content: center;
}

.number.active {
  color: #004c97;
  border: 1px solid #004c97;
}

// .menu {
//   width: 200px;
// }

// .main-content {
//   width: calc(100vh - 50px);
//   overflow-y: auto;
// }

// .heading-container {
//   width: 100%;
//   box-sizing: border-box;
//   padding-left: 12vw;
//   padding-right: 12vw;
// }

.footer {
  background-color: var(--clr-secondary);
  color: var(--clr-white);
  margin-top: 2rem;
}

ul {
  list-style-type: none;
}

.menu-link:hover {
  text-decoration: underline;
  cursor: pointer;
  text-decoration-color: var(--clr-primary);
}

.nav-link:hover {
  text-decoration: none;
}

.nav-item:not(:last-child):hover {
  text-decoration: underline;
  cursor: pointer;
  text-decoration-color: var(--clr-primary);
}

.MenuItem-title {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.MenuItem-icon {
  font-size: larger;
  color: var(--clr-secondary);
  margin: 0;
  padding: 0;
}

.print-icon {
  font-size: 1.6rem;
}

.menu-icon {
  font-size: 0.8rem;
  color: var(--clr-secondary);
}

.menu-toggle-icons {
  margin-left: 8vw;
}

.content-list {
  list-style-type: square;
}

a {
  text-decoration: none;
  color: inherit;
}

.table-with-borders {
  display: table;
  border-collapse: collapse;
  width: 100%;
  border-spacing: 2px;
  border: 1px solid;
  border-color: gray;
  text-indent: initial;

  th,
  td {
    border: 1px solid;
    border-color: gray;
    border-spacing: 2px;
    padding: 8px 12px;
  }
}

small {
  font-size: 80%;
}

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

.chart {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url("../img/exp-iv-graph-y-axis-labels.png");
  background-repeat: no-repeat;
  background-position: -3px top;
  padding-left: 10px;
}

.chart .chart-group {
  margin: 0 15px;
  padding: 0;
  height: 162px;
  display: flex;
  align-items: end;
  position: relative;
}

.chart .chart-group:before {
  display: none;
}

.chart .chart-group.highlighted:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -3px;
  width: calc(100% + 6px);
  height: 100%;
  background-color: #e0dcc7;
  z-index: -1;
}

.chart .chart-group small {
  position: absolute;
  font-size: 8px;
  line-height: 1.2;
  left: 50%;
  top: 175px;
  transform: translateX(-50%);
  letter-spacing: 0;
  text-align: center;
  text-transform: none;
  min-width: 66px;
  word-break: break-word;
}

.chart .chart-group span {
  width: 15px;
  margin: 0 1px;
  display: inline-block;
}

.chart .chart-group span:first-of-type {
  background-color: #2164a1;
}

.chart .chart-group span:last-of-type {
  background-color: #e10818;
}

.keys-legend {
  margin-top: 100px;
}

.keys-legend ul {
  margin: 0;
  padding: 0;
}

.keys-legend ul li {
  display: flex;
  padding: 0;
}

.keys-legend ul li:before {
  display: none;
}

.keys-legend ul li span {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  margin-top: 5px;
}

.keys-legend ul li span.blue {
  background-color: #2164a1;
}

.keys-legend ul li span.red {
  background-color: #e10818;
}

.keys-legend ul li span.gold {
  background-color: #e0dcc7;
}

.keys-legend ul li p {
  margin: 0;
}

.average-results .chart {
  justify-content: start;
}

table#results td {
  border: none;
  padding: 3px 0;
}

table#results thead span,
table#results tfoot span {
  font-size: 14px;
}

.page-template-page-template-online-cognition-scale-summary
  #results
  .chart-box
  .chart-column {
  display: inline-block;
  height: 15px;
  background-color: #e10818;
}

/* Styles for screens smaller than 600px */
@media (max-width: 600px) {
  .sidebarContainer {
    display: block;
    width: 100%;
    position: relative;
  }
  .mainBlock {
    display: block;
    width: 100%;
    position: unset;
    padding: 10%;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* Styles for screens between 601px and 900px */
@media (min-width: 601px) and (max-width: 900px) {
  /* CSS styles specific to screens between 601px and 900px */
}

/* Styles for screens larger than 901px */
@media (min-width: 901px) {
  /* CSS styles specific to screens larger than 901px */
}
